.chat-stream {
  background-color: lightgray;
  border-radius: 20%;
  width: fit-content;
  padding: 10px;
}
.currentUser-chat-stream {
  background-color: blue;
  color: white;
  border-radius: 20%;
  width: fit-content;
  padding: 10px;
}
